<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add Manufacturer</title>
  </head>
  <body>
    <h1>Add Manufacturer</h1>
    <form action="#" th:action="@{/savemanufacturer}" th:objects="${manufacturer}" method="post">
      <label for="name">Manufacturer Name</label>
      <input type="text" id="name" name="name" required />
      <input type="Submit" value="save"></input>
    </form>
    <a href="/manufacturerlist">Manufacturer List</a>
    <a th:href="@{/productlist}">Back to Product List</a>
    <p><a href="/">Go to Main Page</a></p>
  </body>
</html>
