<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Add Product</h1>
    <div>
        <form th:object="${product}" th:action="@{/save}" method="post">

            <label for="productName">Product Name</label>
            <input type="text" id="productName" th:field="*{productName}" required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="productDescription">Description</label>
            <input type="text" id="productDescription" th:field="*{productDescription}" required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="valmistaja">Manufacturer</label>
            <select id="valmistaja" th:field="*{valmistaja}" required>
                <option th:each="valmistaja : ${valmistajaList}" 
                        th:value="${valmistaja.id}" 
                        th:text="${valmistaja.nimi}">
                </option>
            </select>
            <div style="clear: both; display: block; height: 10px;"></div>

            <input type="submit" value="Save" />

        </form>
    </div>
</body>

</html>
