<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Productlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Edit Product</h1>
    <div>
        <form th:object="${product}" th:action="@{../save}" action="#" method="post">
            <input type="hidden" id="id" th:field="*{id}" />
            
            <label for="productName">Product Name</label>
            <input type="text" id="productName" th:field="*{productName}" />
            <div style="clear: both; display: block; height: 10px;"></div>
            
            <label for="productDescription">Product Description</label>
            <input type="text" id="productDescription" th:field="*{productDescription}" />
            <div style="clear: both; display: block; height: 10px;"></div>
            
            <label for="manufacturer">Manufacturer</label>
            <select id="manufacturer" th:field="*{manufacturer}" class="form-control">
                <option th:each="manufacturer : ${manufacturer}" 
                        th:value="${manufacturer.id}" 
                        th:text="${manufacturer.nimi}">
                </option>
            </select>
            <div style="clear: both; display: block; height: 10px;"></div>
            <input type="submit" value="Save" />
        </form>
    </div>
</body>
</html>
