<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>Main Page</h1>
    <p>
      <a href="/productlist" th:href="@{/productlist}">Products</a>
      <a href="/manufacturerlist" th:href="@{/manufacturerlist}"
        >Manufacturers</a
      >
    </p>
  </body>
</html>
