<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Backend Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/style.css}" />
  </head>
  <body>
    <h1>Oops! You've got the wrong address.</h1>
    <p>
      Are you looking for the Omppu & Rane online store page? Find it from the
      link below!
    </p>
    <p>
      <a href="http://localhost:5173/">Take me to Omppu & Rane</a>
    </p>
  </body>
</html>
