<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Backend index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/style.css}" />
  </head>
  <body>
    <h1>Omppu & Rane Backend</h1>
    <p>
      Are you looking for the Omppu & Rane online store page? Find it from the
      link below!
    </p>
    <p>
      <a href="https://k25-op1-tiimi1.github.io/k25Tiimi1FrontEnd/#/"
        >Take me to Omppu & Rane online store</a
      >
    </p>
    <a href="https://k25-tiimi1-backend-k25ohjproj.2.rahtiapp.fi"
      >To the Backend</a
    >
  </body>
</html>
