<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productlist</title>
</head>
<body>
    <h1>Products</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${productList}">
                <td th:text="${product.productName}">Product Name</td>
                <td th:text="${product.productDescription}">Description</td>
                <td th:text="${product.manufacturer!= null ? product.manufacturer.nimi : 'Ei valmistajaa'}"></td>
                <td><a th:href="@{/delete/{id}(id=${product.id})}">Delete</a></td>
                <td><a th:href="@{/edit/{id}(id=${product.id})}">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/add}">New product</a>
</body>
</html>