<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User List</title>
  </head>
  <body>
    <h1>Registered Users</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.id}">User ID</td>
          <td th:text="${user.email}">Email</td>
          <td th:text="${user.firstname}">Firstname</td>
          <td th:text="${user.lastname}">Lastname</td>
          <td th:text="${user.password}">Password</td>
        </tr>
      </tbody>
    </table>
    <a href="/adduser">Add New User</a>
    <p><a href="/">Go to Main Page</a></p>
  </body>
</html>